:root {
  --primary-color: #f05f44;
}

body,
html {
  width: 100%;
  height: 100%;
  font-family: "Montserrat", sans-serif;
  background: url("header.jpg") no-repeat center fixed;
  /* background-position: center; */
}

.container {
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
}

.container h1 {
  color: white;
  text-transform: uppercase;
  text-align: center;
  /* outline: 1px solid red; */
}

.btn-xl {
  text-transform: uppercase;
  border-radius: 50px;
  padding: 1rem 2rem;
  font-size: 80%;
  background-color: var(--primary-color);
}

.btn-primary {
  border-color: var(--primary-color);
}

.btn-primary:hover {
  border-color: var(--primary-color);
  background-color: var(--primary-color);
  transform: scale(1.1);
}

.seperator {
  height: 4px;
  width: 40%;
  background-color: var(--primary-color);
  margin-bottom: 15px;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
